@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f2f0;
}

/* navigation bar */

nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 3.5em;
}

.logo {
  height: 40px;
}

.list a {
  text-decoration: none;
  color: #333;
}

.list {
  display: flex;
  list-style-type: none;
}

.list-items {
  margin-left: 4.5em;
}

.line {
  height: 2px;
  width: 40%;
  background-color: #333333;
  position: relative;
  right: 15.6em;
  top: 0.7em;
}

/* HERO-SECTION */

.hero-img {
  width: 37%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-right {
  float: right;
  width: 60%;
}

.right-top {
  display: flex;
  margin-right: 4%;
  justify-content: space-between;
}

.main-heading {
  font-size: 7rem;
  color: transparent;
  border: #b0aeac;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.main-heading-dark {
  color: #333333;
}

.sub-heading {
  align-self: flex-end;
  color: #a5a5a4;
  margin: 0.8em;
  font-size: 1.7rem;
  font-weight: 300;
}

.social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon {
  width: 25px;
}

.right-mid {
  background-color: #333333;
  color: #eeebe9;
  font-size: 1.5rem;
  padding: .6em 2.05em;
  margin-top: .6em;
  float: right;
  margin-right: 2.7em;
  font-weight: 700;
}

.right-bottom{
  display: flex;
  margin-top: 4em;
  width: 95%;
  position: relative;
}

.bottom-img{
  float: right;
}

.bottom-img-container{
  width: 35vw;
  height: 300px;
  float: right;
  background: url('images/pexels-cottonbro-7974875.jpg') -50px -43px;
  background-repeat: no-repeat;
  background-size: contain;

}

.bottom-list{
  float: right;
}
.bottom-list-items{
  margin: 1em 0;
  font-size: 1.1rem;
  margin-right: 6vw;
  padding-left: 1em;
}

.bottom-list-items::marker{
  display: block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f111";
  color: #828282;
  width: 3px;
  font-size: .5rem;
}

.bottom-list-items:first-child::marker{
 
  list-style-type: none;
  content: "\f111";
  color: #fff;

}

.bottom-list-items::before{
  content: "";
  display: block;
  background-color:#828282;
  width: 2px;
  height: 200px;
  position: absolute;
  right: 100.3%;
  bottom: 43%;
}


.bottom-list-items:first-child::before{
  content: "";
  display: block;
  background-color:#333333;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: relative;
  left: -26px;
  top: 16px;
}


.ri-double-quotes-r{
  color: #333;
  font-size: 2.5rem;
}

.description{
  margin: .7em 0;
  width: 17em;
}

.ri-arrow-down-line{
  float: right;
  color: 7C7B7A;
  font-size: 1.5rem;
  position: absolute;
  bottom: 1.5em;
  right: 2.5em;
}

.bottom-arrow-line{

  width: 2px;
  height: 50px;
  background-color: #333333;
  position: absolute;
  bottom: 3.5em;
  right: 4.45em;
}

@media (max-width:1124px){
  .hero-right{
    width: 100%;
    padding-left: 5%;
  }

  .hero-img{
    opacity: 0.2;
    width: 60%;
  }

  .line{
    display: none;
  }
}

/* navbar and font size fix */

@media (max-width:770px){
  .list{
    display: none;
  }

  nav::after {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: block;
    content: "\f0c9";
    position: absolute;
    right: 2em;
    top: 2.5em;
  }

  .main-heading{
    font-size: 2.8rem;
  }

  .sub-heading{
    font-size: 1rem;
  }

  .right-mid{
    font-size: 1rem;
  }

  .bottom-list-items{
    font-size: .9rem;
  }

  .description{
    font-size: .8rem;
  }

  .icon{
    margin-top: 1em;
  }

  .bottom-img-container{
    width: 60vw;
  }

  .bottom-list-items::before{
    left: -1.4%;
  }
}